// HOME Media query

// Media query tablet
@media screen and (min-width:720px){
    body{
        main{
            .banner-responsive{
                .banner-responsive-derecha{
                    grid-template-columns: auto auto;
                }
            }
            .trending{
                .trending-grilla{
                    display: grid;
                    grid-template-columns: auto auto;
                }
            }
            .instagram{
                .instagram-grilla{
                    grid-template-columns: auto auto;
                }
            }
        }
    }
}

// Media query desktop
@media screen and (min-width:1024px){
    body{
        main{
            .banner-responsive{
                grid-template-columns: auto auto;
                .banner-responsive-derecha{
                    display: grid;
                    grid-template-columns: auto;
                    gap: 20px;
                    img{
                        max-height: 300px;
                    }
                }
            }
            .trending{
                .trending-grilla{
                    display: grid;
                    grid-template-columns: auto auto auto;
                }
            }
        }
    }
}