// HOME Media query

// Media query tablet
@media screen and (min-width:720px){
    body{
        main{
            .banner-responsive{
                .banner-responsive-derecha{
                    grid-template-columns: auto auto;
                }
            }
            .trending{
                .trending-grilla{
                    display: grid;
                    grid-template-columns: auto auto;
                }
            }
            .grilla-reservas-pagos{
                grid-template-columns: auto auto;
                .reservas{
                    width: 100%;
                    border-right: 3px solid black;
                    border-bottom: none;
                }
                .pagos{
                    width: 100%;
                }
            }
            .instagram{
                .instagram-grilla{
                    grid-template-columns: auto auto;
                }
            }
            .newsletter{
                .newsletter-grilla{
                    display: grid;
                    grid-template-columns: auto auto;
                }
            }
        }
        footer{
            .footer-grilla{
                display: grid;
                grid-template-columns: auto auto;
                .footer-logo{
                    img{
                        width: 280px;
                    }
                }
                .footer-sitemap{
                    border-left: 1px solid white;
                    a{
                        p{
                            padding-left: 60px;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

// Media query desktop
@media screen and (min-width:1024px){
    body{
        main{
            .banner-responsive{
                grid-template-columns: auto auto;
                .banner-responsive-derecha{
                    display: grid;
                    grid-template-columns: auto;
                    gap: 20px;
                    a{
                        img{
                            max-height: 300px;
                        }
                    }
                    
                }
            }
            .trending{
                .trending-grilla{
                    display: grid;
                    grid-template-columns: auto auto auto;
                }
            }
            .instagram{
                .instagram-grilla{
                    gap: 100px;
                }
            }
            .newsletter{
                .newsletter-grilla{
                    gap: 140px;
                }
            }
        }
        footer{
            .footer-grilla{
                gap: 60px;
                .footer-logo{
                    img{
                        margin-left: 60px;
                    }
                }
                .footer-sitemap{
                    margin-left: 30px;
                }
            }
        }
    }
}